{{>header}}
{{>navbar}}
</section>
<section class="about-title">
    <div class="container ">
        <div class="row">
            <div class="col-12 ">
                <h2 class="text-white py-4 mt-3">ABOUT US</h2>
            </div>
        </div>
    </div>
</section>
<section class="about-sec">
    <div class="container">
        <div class="row">
            <div class="col-5 d-flex justify-content-center flex-column align-items center about-banner-col">
                <h2>Who Are We</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto, illum dignissimos? Similique voluptas consequatur deleniti ratione, assumenda molestiae sapiente, consectetur, quasi delectus ea corporis quo!</p>
            </div>
            <div class="col-7"></div>
        </div>
    </div>
</section>



{{>footer}}