    {{>header}}
    {{>navbar}}

    {{!-- <h1>How are you</h1> --}}
    
    <section class="banner d-flex justify-content-center align-items-center">
        <div class="container">
            <div class="row text-white py-5">
                <div class="col-6">
                    <img src="img/rm380-s88-07a.jpg" alt="" class="w-100 rounded">
                </div>
                <div class="col-6 text-end d-flex justify-content-center flex-column"> 
                    <h1 class="text-center fw-bold">Welcome to Unicorn Soul</h1>
                    <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. At ipsa eos dignissimos ex ratione, assumenda modi architecto. Quibusdam, excepturi? Velit est architecto ad vitae quis libero numquam maiores aspernatur provident a sed ratione atque accusantium debitis qui illum perferendis distinctio laudantium, et doloribus iste veritatis! Facere minus nisi quaerat quam.</p>
                    <a href="/user_dashboard"><button class="btn btn-outline-light py-2 px-4 mt-3">Let's Go</button></a>
                    {{!-- <p class="text-white fs-4">{{current_user}}</p>
                    <p class="text-white fs-4">{{c_user_email}}</p> --}}
                </div>
            </div>
        </div>
    </section>

    
    {{>footer}}
