{{>header}}
{{>navbar}}
</section>
<section class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-white py-4">INVENTORY</h2>
            </div>
        </div>
    </div>
</section>

<section class="bg-dark">
    <div class="container">
        <div class="row pt-3">
            <div class="col-3 border py-2 border-secondary collection">
                <h4 class="">Collection</h4>
            </div>
            <div class="col-2 border py-2 border-secondary market pointer">
                <h4 class="">Marketplace</h4>
            </div>
            <div class="col-7"></div>
        </div>
    </div>
    <div class="container collection-section"></div>
        <div class="row text-center">
            <div class="col-3 border border-secondary border-1 rounded py-4 my-3 mx-5">
                <img src="img/8837.webp" alt="" class="w-100">
                <p>Title</p>
            </div>
            <div class="col-3 border border-secondary border-1 rounded py-4 my-3 mx-5">
                <img src="img/6487.webp" alt="" class="w-100">
                <p>Title</p>
            </div>
            <div class="col-3 border border-secondary border-1 rounded py-4 my-3 mx-5">
                <img src="img/5461.webp" alt="" class="w-100">
                <p>Title</p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-3 border border-secondary border-1 rounded py-4 my-3 mx-5">
                <img src="img/5023.webp" alt="" class="w-100">
                <p>Title</p>
            </div>
            <div class="col-3 border border-secondary border-1 rounded py-4 my-3 mx-5">
                <img src="img/6091.webp" alt="" class="w-100">
                <p>Title</p>
            </div>
            <div class="col-3 border border-secondary border-1 rounded py-4 my-3 mx-5">
                <img src="img/F5ALwzIqVIt42wAi38ZigcwCstoESwKSd4mzetqAl4U.gif" alt="" class="w-100">
                <p>Title</p>
            </div>
        </div>
    </div>
    <div class="container martetplace-section">
        <div class="row">
            <div class="col-12">
                <h4>Latest Projects:</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, quo deserunt. Pariatur cum voluptas, molestias quae soluta, saepe, quam ipsa odit ex vel doloribus laudantium distinctio eos dolorum autem blanditiis porro nam atque exercitationem!</p>
            </div>
        </div>
    </div>
</section>

{{>footer}}