
    <section class="footer">
        <div class="container py-3">
            <div class="row">
                <div class="col-6 text-secondary">@Copyright | 2022</div>
                <div class="col-6 text-secondary text-end">All Rights Reserved</div>
            </div>
        </div>
    </section>

    <script src="js/main.js"></script>

</body>
</html>