<div class="container py-2">
            <div class="row pt-4">
                <div class="col-2 text-danger">
                    <div class="logo">
                        <img src="img/pngtree-avatar-futuristic-character-metaverse-png-image_4492965.png" alt="" class="logo">
                    </div>
                </div>
                <div class="col-7 align-items-center">
                    <div class="menu text-center">
                        <a href="/index" class="text-white mx-3 fs-5 text-decoration-none active">Home</a>
                        <a href="/about" class="text-white mx-3 fs-5 text-decoration-none">About</a>
                        <a href="/inventory" class="text-white mx-3 fs-5 text-decoration-none">Inventory</a>
                        <a href="/account" class="text-white mx-3 fs-5 text-decoration-none">Account</a>
                        <a href="/contact_us" class="text-white mx-3 fs-5 text-decoration-none">Contact Us</a>
                    </div>
                </div>
                <div class="col-3 text-end">
                    {{!-- <a href="/login"><button class="btn btn-outline-warning text-white  px-4">Login</button></a>
                   <a href="/register"><button class="btn btn-outline-success text-white ms-2 px-4 ">Register</button></a> --}}
                    <i class="fa-user"></i>
                   <span>{{current_user}}</span>
                   {{!-- <a href="/logout"><button class="btn btn-outline-warning text-white  px-4">Logout</button></a> --}}
                </div>
            </div>
        </div>